<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
        </tr>
        <tr th:each="departamento:${listaDepartamentos}">
            <td th:text="${departamento.id}"></td>
            <td th:text="${departamento.nombre}"></td>
            <td><a th:href="@{/departamentos/editar/{id}(id=${departamento.id})}">Editar</a></td>
            <td><a th:href="@{/departamentos/borrar/{id}(id=${departamento.id})}">Borrar</a></td>
        </tr>
    </table>
    <a th:href="@{/departamentos/nuevoDepartamento}">Nuevo Departamento</a>
</body>
</html>