<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragment.html::cabecera"></head>
  <body>
    <nav th:replace="/fragment.html::mainMenu"></nav>
    <h1>Nueva Categoría</h1>
    <form method="post" action="#" th:action="@{/categorias/new/submit}"
            th:object="${categoriaForm}">
            <label>Id:<input type="text" id="id" th:field="*{id}" /> </label><br/>
            <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
            <input type="submit" value="Enviar" />
    </form>
  </body>
</html>