<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleado CRUD</title>
    <style>
        .cssError {
            background-color: red;
        }
    </style>
</head>

<body>
    <h1>Nuevo empleado</h1>
    <form method="post" action="#" th:action="@{/nuevo/submit}" th:object="${empleadoForm}">
        <label>Id: <input type="text" id="id" th:field="*{id}" /> </label><br />
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        <label>Email: <input type="text" id="email" th:field="*{email}" /></label><br />
        <label>Salario: <input type="text" id="salario" th:field="*{salario}" /></label><br />
        <label>En Activo:<input type="checkbox" id="enActivo" th:field="*{enActivo}"></label><br />
        Genero:<br />
        <div th:each="gen : ${T(com.example.xbc0701.domain.Genero).values()}">
            <input type="radio" name="button1" th:value="${gen}" th:text="${gen}" th:field="*{genero}" />
        </div>
        <div th:classappend="${#fields.hasErrors('email')} ? 'cssError'">
            <label>Email:<input type="text" id="email" th:field="*{email}" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="cssError">texto error</span>
            </label>
        </div>
        <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/}">Inicio</a><br />
</body>

</html>