<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/forms.css" />
</head>
<body>
    <nav th:replace="~{components/navbar.html :: navBar}"></nav>
    <div id="mainContainer">
        
    <form action="">
        <h1>Iniciar Sesión</h1>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario"><br>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña"><br>
        <input type="submit" name="" id="" value="Acceder">
    </form>
</div>
</body>
</html>