<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Usuario</td>
            <td>Fecha de registro</td>
            <td>Editar</td>
            <td>Borrar</td>
            <td>Opiniones</td>
        </tr>
        <tr th:each=" usuario:${listaUsuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.fechaRegistro}"></td>
            <td><a th:href="@{/usuarios/editarUsuario/{id}(id=${usuario.id})}">Editar</a></td>
            <td><a th:href="@{/usuarios/borrarUsuario/{id}(id=${usuario.id})}">Borrar</a></td>
            <td><a th:href="@{/valoraciones/porUsuario/{id}(id=${usuario.id})}">Opiniones</a></td>
        </tr>
    </table><br>
    <a th:href="@{/usuarios/nuevoUsuario}">Nuevo Usuario</a>
</body>
</html>