<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/cuestionario/enviar}"
    th:object="${formInfo}">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre">
        <label for="edad">Edad: </label>
        <input type="text" name="edad" id="edad">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>