<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario enviado correctamente</h1>
    <div><span th:text="${nombre}"></span></div>
    <div>Tu correo es: <span th:text="${email}"></span></div>
    <div>Elegiste: <span th:text="${opcion}"></span></div>
    <div>Comentaste: <span th:text="${comentario}"></div>
    <span th:if="${condiciones}">Aceptaste las condiciones</span><br>
    <span th:unless="${condiciones}">No aceptaste las condiciones</span>
</body>
</html>