<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:if="${customer=='XXX'}">Bienvenido XXX a nuestra web</div>
    <!--Si al introducir la url, customer es igual a XXX
    mostrará el mensaje de arriba-->
    <div th:unless="${customer=='XXX'}">Bienvenido a nuestra web</div>
    <!--Si al introducir la url, customer no es igual a XXX
    mostrará el mensaje de arriba-->
</head>
<body>
    <h1 style="background-color:blue">Inicio</h1><br>
    <div>Esta es una página de inicio</div><br>
    <span th:text="${ayo}">*</span>
    <p style="background-color:red">
        <a href="index.html">Index</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a th:href="@{/productos}">Productos</a>
        <a href="contacta.html">Contacta</a>
    </p>
    <img src="casa.jpeg">
</body>
</html>