<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva Cuenta</h1>
    <form action="#" method="post" th:object="${cuenta}" th:action="@{/nuevaCuenta/submit}">
        <input type="text" placeholder="IBAN" th:field="*{iban}"><br>
        <input type="text" placeholder="Nombre" th:field="*{nombre}"><br>
        <input type="submit" name="" id="">
    </form>
</body>
</html>