<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post"
        th:action="@{/nuevaCuenta/submit}"
        th:object="${cuenta}">
        IBAN:<input type="text" th:field="*{iban}"><br>
        Nombre:<input type="text" th:field="*{nombre}"><br>
        Saldo inicial:<input type="text" th:field="*{saldo}"><br>
        <input type="submit">
    </form>
</body>
</html>