<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${tituloListado}">Título listado</h1>
    <table>
        <thead>
            <th>ID</th><th>Nombre</th><th>Email</th><th>Salario</th>
            <th>Activo</th><th>Genero</th>
        </thead>
        <tbody>
            <tr th:each="empleado : ${listaEmpleados}">
                <td th:text="${empleado.id}">Id</td>
                <td th:text="${empleado.nombre}">nombre</td>
                <td th:text="${empleado.email}">email@gmail.com</td>
                <td th:text="${empleado.salario}"></td>
                <td th:text="${empleado.enActivo}"></td>
                <td th:text="${empleado.genero}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Inicio</a><br/>
    
</body>
</html>