<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cambio Moneda</h1>
    <form
      method="post"
      action="#"
      th:action="@{/cambioMoneda}"
      th:object="${formInfo}"
    >
      <label>Importe:</label><br />
      <input type="text" th:field="*{importe}">
      <select id="monedaOrigen" name="monedaOrigen" th:field="*{monedaOrigen}">
        <option value="EUR">Euro</option>
        <option value="GBP">Libra</option>
        <option value="JPY">Yen</option>
        <option value="USD">Dollar</option>
      </select><br>
      Seleccione moneda Destino: <br>
      <select name="monedaDestino" id="monedaDestino" th:field="*{monedaDestino}">
        <option value="EUR">Euro</option>
        <option value="GBP">Libra</option>
        <option value="JPY">Yen</option>
        <option value="USD">Dollar</option>
      </select>
      <input type="submit">
    </form>
    <a th:href="@{/}">Inicio</a><br />
  </body>
</html>
