<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Empleado CRUD</title>
</head>
<body>
<h1>Listado de empleados de la empresa</h1>
<table>
<thead>
<tr>
<th>ID</th><th>Nombre</th><th>Email</th><th>Salario</th>
<th>Editar</th><th>Borrar</th>
</thead>
<tbody>
<tr th:each="empleado : ${listaEmpleados}">
<td th:text="${empleado.id}">Id</td>
<td th:text="${empleado.nombre}">nombre</td>
<td th:text="${empleado.email}">email@gmail.com</td>
<td th:text="${empleado.salario}">0</td>
<td th:text="${empleado.enActivo}">bool</td>
<td th:text="${empleado.genero}">genero</td>
<td><a th:href="@{/editar/{id}(id=${empleado.id})}">Editar</a></td>
<td><a th:href="@{/borrar/{id}(id=${empleado.id})}">Borrar</a></td>
</tr>
</tbody>
</table>
<a th:href="@{/}">Inicio</a><br/>
<a th:href="@{/nuevo}">Nuevo empleado</a><br/>
<a th:href="@{/listado1/1000}">Listado 1 (salario > 1000 euros)</a><br/>
<a th:href="@{/listado2}">Listado 2 (salario > media)</a><br/>
</body>
</html>